<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <img [src]="product.imageUrl" />
            <h1>{{ product.name }}</h1>
            <div class="price">{{ product.unitPrice | currency:'BRL' }}</div>
            <a href="#" class="primary-btn">Pôr na Cesta</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th><fa-icon [icon]="faCode"></fa-icon> Capa</th>
      <th><fa-icon [icon]="faCameraRetro"></fa-icon> Nome</th>
      <th><fa-icon [icon]="faMoneyBill"></fa-icon> Preço</th>
      <th><fa-icon [icon]="faList"></fa-icon> Estoque</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td><img class="thumb img-fluid" [src]="product.imageUrl" /></td>
      <td class="align-middle">{{ product.name }}</td>
      <td class="align-middle">{{ product.unitPrice | currency:'BRL' }}</td>
      <td class="align-middle">{{ product.unitsInStock }}</td>
    </tr>
  </tbody>
</table> -->
