<!-- LOADING SPINNER -->
<div *ngIf="!products" class="table__no-data">
  <mat-spinner
    color="accent"
    diameter=200
    strokeWidth=50
    mode="determinate"
    value=70
  ></mat-spinner>
</div>

<!-- MATERIAL TABLE -->
<section *ngIf="products">
  <mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="Imagem">
      <mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
      <mat-cell *matCellDef="let product"> <img class="table__image" [src]="product.imageUrl" /> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Produto">
      <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Preço">
      <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.unitPrice | currency:"BRL" }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Estoque">
      <mat-header-cell *matHeaderCellDef> Estoque </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.unitsInStock }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Carrinho">
      <mat-header-cell *matHeaderCellDef> Carrinho </mat-header-cell>
      <mat-cell *matCellDef="let product"> <button mat-raised-button color="primary">Adicionar</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</section>
