.table {
  &__no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    padding: 5rem;
    background-color: #a777eb;
    color: white;
  }
}

mat-table {
  mat-row {
    &:hover {
      cursor: pointer;
      background-color: #a777eb;
      color: white;
    }
  }

  mat-cell {
    display: flex;
    align-items: center;
    padding: 0 1rem;

    &:hover {
      color: white;
    }
  }
}
